// colors ////////////////////////////
$main-c:  #cdccc5;
$sec-c:   #e4e3db;
$dark-c:  #322e1d;
$med-dark-c:  #837572;
$highlight-c:   #00bfef;
//////////////////////////////////////


// fonts ////////////////////////////
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic");
@mixin font {font-family: 'Source Sans Pro', sans-serif;}
/////////////////////////////////////


// global ///////////////////////////
$bs: 12px;

body {
	font-size:($bs);
	@include font;
	color:$dark-c;
	padding:0;
	margin:0;
}

div {
	width:100%;
	min-width:1px;
	float:left;
	clear:left;
	margin-top:($bs*2);
	/* &:nth-child(1) {
		margin-top:0px;
	} */
	div {clear:none;}
}

div.float {
	position:relative;
	float:left;
	clear:left;
	width:100%;
	min-height:$bs*2.5;
	height:100%;
	background-color:white;
}

img {
	border-radius:2%;
}

//////////////////////////////////



// viewports ///////////////////////////

$lg: $bs*67;
$md: $bs*45;
$sm: $bs*30;


@media only screen and (max-width: $lg){
	.sampleClass {float:none;}
}

@mixin width {	
	float:none;
	min-height:25px;
	margin:0 auto;
	width:$bs*59;
	clear:left;
	margin-top:20px;
}
@mixin lgsize {
	@media (max-width: $lg) {
		width:$bs*35;
	}
}
@mixin mdsize {	
	@media (max-width: $md) {
		width:$bs*23;
	}
}
@mixin smsize {
	@media (max-width: $sm) {
		float:left;
		width:100%;
		clear:left;
	}
}
//////////////////////////////////////
@keyframes fred {
  50%  { opacity: .65; }
  100% { opacity: 1; }
}
// color boxes //////////////////////


div.colors {
	@include lgsize;
	@include mdsize;
	@include smsize;
	@include width;
	div {
		float:left;
		margin:$bs;
		height:($bs*10);
		width:($bs*10);
		position:relative;
		box-sizing:border-box;
		padding:$bs;
		float:left;
		transition:all .2s ease;
		&:nth-child(1){
			margin-left:0px;
		}

		@media (max-width: $lg) {
			animation: fred 1s 1;
			&:nth-child(4) {
				clear:left;
				margin-left:0px;
			}
		}
		
		@media (max-width: $md) {
			animation: fred 1s 1;
			&:nth-child(even) {
				margin:$bs;
				clear:none;
				float:left;
				margin-right:0;
			}
			&:nth-child(odd) {
				clear:left;
				margin-left:0px;
			}
		}
	
		@media (max-width: $sm) {
			animation: fred 1s 1;
			&:nth-child(n) {
				float:none;
				margin:$bs auto;
				width:96%;
				height:$bs*4;
			}
			&:nth-child(1) {
				margin-top:0px;
			}
		}
		span {
			display:block;
			color:rgba(250,250,250,.75);
			text-align:right;
			position:absolute;
			bottom:$bs;
			right:$bs;
		}
	}
}

div.dark-c {background:$dark-c;}
div.med-dark-c {background:$med-dark-c;}
div.main-c {background:$main-c;}
div.sec-c {background:$sec-c;}
div.highlight-c {background:$highlight-c;}

//////////////////////////////////////////////////////



// text styles ///////////////////////////
div.fonts {
	@include lgsize;
	@include mdsize;
	@include smsize;
	@include width;
}
h1 {
	font-weight:600;
	font-size:($bs*1.2);
	letter-spacing:($bs *.04);
}
p {
	font-weight:300;
	letter-spacing:($bs*.03);
}

a {
	color:$dark-c;
	&:visited {
		color:$dark-c;
	}
	&:hover {
		color:$highlight-c;
	}
}
///////////////////////////////////////////



// menu navigation ///////////////////////////

//margin top
$mt: ($bs*8);
div.navcontainer {
	float:left;
	width:100%;
	height:($bs*2.5)+$mt;
}
nav.main {
	width:100%;
	position:absolute;
	z-index:2;
	top:0px;
	margin-top:$mt 0;
		ul {
		padding:0;
		margin:$mt auto 0 auto; 
		width:$bs*45;
		height:100%;
		li {
			width:$bs*11;
			height:$bs*2.5;
			list-style:none;
			float:left;
			display:block;
			margin:0 ($bs*3) 0 ($bs*3);
			&:nth-child(1) {
				margin-left:0px;
			}
			&:nth-last-child(1){
				margin-right:0px;
			}
			a {
				display:block;
				background:$main-c;
				line-height:$bs;
				height:100%;
				width:100%;
				text-decoration:none;
				&:hover {
					background:$sec-c;
					border-bottom:solid $highlight-c 1.5px;
					span {					
					}
				}
				span {
					height:$bs*1.5;
					width:100%;
					background:white;
					display:block;
					text-align:center;
					font-size: $bs*1.1;
					letter-spacing: $bs*.15;
					font-weight:200;
					// color:red;
				}		
			}
			a.active {
				background:$sec-c;
				span {
					color:$dark-c;
					font-size: $bs*1.1;
					letter-spacing: $bs*.15;
					font-weight:400;
				}
			}
		}
	}
}

/*
@media (max-width: $md){
	nav.main {
			ul {
			width:$bs*28.8;
			min-height:1px;
			li {
				width:$bs*8 ;
				margin:0 ($bs*1.2) 0 ($bs*1.2);
				a {
					span {
						font-size: $bs*.8;
					}		
				}
				a.active {
					span {
						
						font-weight:300;
					}
				}
			}	
		}
	}
}
*/
div.btm {
	position:absolute;
	width:100%;
	z-index:1;
	background:$main-c;
	height:$bs*1;
	top:$bs*1.5;
	min-height:1px;
	margin:$mt 0;
	@media (max-width: $sm){
		
	}
}

@media (max-width: $lg) {
	nav.main {
		ul {
			width:100%;
			float:left;
			min-height:1px;
			margin:45px auto;
			li {
				width:33.33%;
				margin:0px;
			}
		}
	}
	div.navcontainer {
		height:75px;
	}
	div.btm {
		margin:45px auto;
	}
}

@media (max-width:$md) {

}

@media (max-width: $sm) {
	nav.main {
		ul {
			margin:0 auto;
			li {
				width:33.33%;
				margin:0px;
			}
		}
	}
	div.btm {
		margin:0 auto;
	}
	div.navcontainer {
		height:auto;
	}
}

////////////////////////////////////////////



// more button ////////////////////////////

a.more {
	display:block;
	margin:0 auto;
	height:$bs*3;
	width:$bs*5;
	text-align:center;
	background-color:white;
	text-decoration:none;
	div {
		margin:0px;
		line-height:$bs*1;
		font-weight:300;
		font-size:$bs*.8;
		width:100%;
		float:left;
		clear:left;
	}
	span {
		line-height:$bs*.7;
		letter-spacing: $bs*.6;
		height:$bs;
		width:100%;
		margin:0;
		box-sizing: border-box;
		padding-left:$bs*.25;		
		float:left;
		clear:left;
	}
}
///////////////////////////////////////////



// By-line ///////////////////////////////

p.byline {
	display:block;
	width:$bs*12.5;
	text-align:center;
	font-size:$bs*1.2;
	margin:0 auto;
	color:$med-dark-c;
}

/////////////////////////////////////////


// Forms ////////////////////////////////

@mixin formfont	{
	color:$main-c;
	font-weight:300;
	@include font;
	letter-spacing:$bs*.1;
}	

form {
	@include width;
	@media (min-width: $lg) {
		width:$bs*42;	
	}
	@media (max-width: $lg) {
		width:$bs*35;	
	}
	@include mdsize;
	@include smsize;
	min-height:$bs;
	textarea {
		float:left;
		clear:both;
		width:100%;
		height:$bs*25;
		border-style:1px;
		border-color:$main-c;
		box-sizing:border-box;
		@include formfont;
		&:focus {
			outline:none;
			border:$main-c;
			box-shadow:none;
		}
	}
	input {
		clear:left;
		float:left;
		width:46%;
		margin-right:5%;
		height:$bs*1.3;
		margin-top:$bs*2;
		@include formfont;
		&:nth-child(3) {
			margin-right:0;
		}
		&:nth-child(3) {
			clear:none;
		}
		&:nth-last-child(1) {
			float:right;
			margin-right:0;
			margin-top:$bs*1.5;
			width:$bs*10;
			height:$bs*3
		}
		&:focus {
			outline:none;
			border:$main-c;
			box-shadow:none;
		}
	}
}
////////////////////////////////////////



// Footer //////////////////////////////
$svgsize: 10;
div.footer {
	background:url(../images/swan.png);
	background-image:url(../images/swan.svg), none;
	background-size:contain;
	height:($bs*$svgsize);
	width:($bs*$svgsize)*.62;
	opacity:.3;
	margin:($bs*2.5) auto;
	float:none;
}
///////////////////////////////////////

// portfolio //////////////////////////
div.sampleclass {float:left;}
@media only screen and (max-width: 800px){
	div.sampleclass {float:none;}
}
div.content {
	width:1000px;
	margin:0 auto; 
	float:none;
	overflow:hidden;
	@media (max-width: $lg) {
	width:100%;
	}
	@media (max-width:$md) {
		margin:10px auto;
	}
	@media (max-width: $sm){
	width:100%;
	padding:0;
	margin:0 auto;
	}
	
	div.detail {
		width:480px;
		opacity:1;
		float:right;
		@media (max-width: $lg) {
			float:none;
			margin:24px auto 0px auto;
		}
		@media (max-width: $sm) {
			float:none;
			margin:24px auto 0px auto;
			width:100%;
		}
		img.display {
			width:380px;
			height:380px;
			margin:0 auto;
			float:none;
			background-image:none;
			display:block;
			@media (max-width:$sm) {
				height:320px;
				min-width:320px;
				width:100%;
				border-radius:0;
			}
		}
		p {
			display:block;
			float:none;
			width:80%;
			text-align:center;
			margin:30px auto;
		}
	}

	div.scroll {
		margin:0;
		width:480px;
		padding:10px
;		@media (max-width: $lg) {
			margin:0 auto;
			float:none;
			width:480px;
			padding:0;
		}
		@media (max-width: $sm) {
			width:100%;
		}
		div.left, div.right { 
			width:240px; 
			float:left; 
			margin:0 auto;
			@media (max-width: $md) {
				float:none;
				margin:0 auto; 
			}
		}

		a div.overlay {opacity:0; transition:all .2s ease;}
		a:hover div.overlay {opacity:.75;}
		/*div:nth-child(2){padding-top:45px;}
		 div.left {background-color:blue;}
		div.right {background-color:red;} */
		a {
			transition:all 1s ease;
			margin:20px;
			float:left;
			width:200px;
			height:200px;
			position:relative;
			background-image:none;
			position:relative;
			img{width:200px; height:200px;}
			p {
				text-align:center;
				width:100%;
				position:absolute;
				background-color:white;
				bottom:10px;
				opacity:0;
				transition:all .1s ease;
				min-height:30px;
				margin:0px;
				padding-top:10px;
			}
		}
		a:hover p {
			opacity:1;
			text-shadow: 1px 1px 3px rgba(162, 88, 70, .5);
			bottom:0px;
		}

	}
}
