extends jade/layout
block content
	include jade/_nav.jade
	ul.art
		li
			a(href="###")
				img(src="#")
		li
			a(href="#####")
				img(src="#")
		li
			a(href="###")
				img(src="#")
	include jade/_more.jade