extends jade/layout
block content
	include jade/_nav.jade
	.sampleclass
	.content
		.detail
			.display
			p.
				some description
				goes here.		
		.scroll
			.left
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
			.right
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
