extends jade/layout
block content
	include jade/_nav.jade
	#content
		#detail
			img.display(src="images/portfolio/transparent/BESusanVase.png")
			p some description goes here.
		#listcolumn
			#dvone.wrapper
				ul#ulone
					li
						a(href='#')
							img(src='images/portfolio/sm/BESusanVaseSmSq.png' rel='some other text 1' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/sm/BlueHeronComboSmSq.png' rel='some other text 2' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/sm/BunnyVaseSmSquare.png' rel='some other text 3' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/sm/CameliaVaseSmSq.png' rel='some other text 4' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/sm/CrabVaseSmSq.png' rel='some other text 5' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/sm/CraneComboSmSq.png' rel='some other text 6' )
							p some description goes here
			#dvtwo.wrapper
				ul#ultwo
					li
						a(href='#')
							img(src='images/portfolio/sm/DuckComboSmSq.png' rel='some other text 7' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/sm/HummingbirdPlatterSmSq.png' rel='some other text 8' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/sm/IrisVaseSmSq.png' rel='some other text 9' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/sm/PelicanComboSmSq.png' rel='some other text 10' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/sm/RosetteSpoonbillComboSmSq.png' rel='some other text 11' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/sm/StarVaseSmSq.png' rel='some other text 12' )
							p some description goes here