extends jade/layout
block content
	include jade/_nav.jade
	.content
		.detail
			.display(data-stellar-ratio=".75")
				p.
					some description
					goes here.
		.scroll
			.left(data-stellar-ratio="2.5")
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.

			.right(data-stellar-ratio="2")
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.