extends jade/layout
block content
	include jade/_nav.jade
	.content
		.detail
			.display(data-stellar-ratio=".75")
			.text
		.scroll
			.left(data-stellar-ratio="2.5")
				.artobj
				.artobj
				.artobj
				.artobj
				.artobj
				.artobj
			.right(data-stellar-ratio="2")
				.artobj
				.artobj
				.artobj
				.artobj
				.artobj
				.artobj