extends jade/layout
block content
	include jade/_nav.jade
	#content
		#detail
			img.display(src="images/portfolio/mountains.jpg")
			p some description goes here.
		#listcolumn
			#dvone.wrapper
				ul#ulone
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 1' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/galaxies.jpg' rel='some other text 2' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/sun.jpg' rel='some other text 3' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 4' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 5' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 6' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 7' )
							p some description goes here
			#dvtwo.wrapper
				ul#ultwo
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 8' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 9' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 10' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 11' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 12' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 13' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 14' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 8' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 9' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 10' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 11' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 12' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 13' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 14' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 8' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 9' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 10' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 11' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 12' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 13' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 14' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 8' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 9' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 10' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 11' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 12' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 13' )
							p some description goes here
					li
						a(href='#')
							img(src='images/portfolio/mountains.jpg' rel='some other text 14' )
							p some description goes here