extends jade/layout
block content
	include jade/_nav.jade
	.sampleclass
	.content
		.detail
			.display(data-stellar-ratio=".75" data-stellar-vertical-offset="0")
				p.
					some description
					goes here.		
		.scroll
			.left(data-stellar-ratio="2.5" data-stellar-vertical-offset="0")
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
			.right(data-stellar-ratio="2" data-stellar-vertical-offset="0")
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
				.artobj
					.overlay
						p This is alot of text to see what happens.
