extends jade/layout
block content
	include jade/_nav.jade
	.content
		p hello
		.detail
		.scroll
			.left
				.artobj
				.artobj
				.artobj
				.artobj
				.artobj
				.artobj
			.right
				.artobj
				.artobj
				.artobj
				.artobj
				.artobj
				.artobj