extends jade/layout
block content	
	.float
		.colors
			.dark-c 
				span dark
			.med-dark-c 
				span medium dark
			.main-c
				span main
			.sec-c 
				span secondary
			.highlight-c 
				span highlight	
	.float
		.fonts
			h1 Heading One
			p
				| Sed ut perspiciatis unde omnis iste natus error sit
				| voluptatem accusantium doloremque laudantium, totam 
				| rem aperiam, eaque ipsa quae ab illo inventore veritatis 
				| t quasi architecto beatae vitae dicta sunt explicabo. 
				| Nemo enim ipsam voluptatem quia voluptas sit aspernattur 
				| aut odit aut fugit, sed quia consequuntur magni dolores 
				| eos qui ratione vol
			a(href='#') this is a link
	.buttons
		include jade/_nav.jade		
		.float
			include jade/_more.jade
		.float
			include jade/_byline.jade
		.float
			include jade/_form.jade
		.float
			.footer