#navigation
	#navcontainer
		nav.main
			#svg
				include ../images/tanya.svg
			ul
				li 
					a(href='#')
						span about
				li 
					a.active(href='./portfolio.html') 
						span portfolio
				li 
					a.hover(href='#') 
						span contact
	.btm