doctype html
html
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    title webtooth
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel="stylesheet", href="styles/main.css")
    // endbuild
  body
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href="http://browsehappy.com/") upgrade your browser
        | to improve your experience.
    block content
    //
        Google Analytics: change UA-XXXXX-X to be your site's ID.
            <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
          </script>
    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/svg4everybody/svg4everybody.js')
    script(src='/bower_components/stellar.js/jquery.stellar.js')
    // endbower
    // endbuild
    // build:js scripts/main.js
    script(src="scripts/main.js")
    // endbuild

    input(name='refreshed' value='no' id='refreshed')

    script(type='text/javascript').
        
        function runStellar() {
            
            $.stellar({
                responsive: true,
                positionProperty: 'transform',
                horizontalScrolling:false,
                hideDistantElements: false
            });
        }

        var windowsize = $(window).width();

        function whatSize() {
            windowsize = $(window).width();s
            if (windowsize < 527) {
                $('.scroll').attr('data-stellar-ratio', '3');
                $('.left').removeAttr('data-stellar-ratio');
                $('.right').removeAttr('data-stellar-ratio');
                $('.right').removeAttr('style');
                $('.left').removeAttr('style');
            }

            else {
                $('.scroll').removeAttr('style');
                $('.scroll').removeAttr('data-stellar-ratio');
                $('.left').attr('data-stellar-ratio', '2.5');
                $('.right').attr('data-stellar-ratio', '2');
            }
        }

        function scrolltoTop() {
            $('.scroll a').click(function(){
                
                $('img.display').attr('src', $(this).find('img').attr('src'));
                $('.detail').animate({opacity:1}, 300);
                $('.detail p').text($(this).find('img').attr('rel'));
                
                if (windowsize < 800) {
                    $('html, body').animate({scrollTop:0}, '500', 'swing');
                }
            });

            $(window).scroll(function(i){
                var scrollVar = $(window).scrollTop();
                $('.detail').css({'opacity':( 100-scrollVar )/100});
            })
        }

        $(window).resize(function() {
            scrolltoTop();
            whatSize();
            runStellar();
        });

        scrolltoTop();
        whatSize();
        runStellar();